.chart  {
    padding-top: 10px;
    height:90%;
}

.s-label {
    color:#FFF;
    font-weight:900;
}

.error {
    color:red;
    font-weight:900;
    border-width: 0px;
}

.graph {
 text-align:center;
 width: 100%;
}
