.chart  {
    padding-top: 30px;
}

.s-label {
    color:#FFF;
    font-weight:900;
}

.error {
    color:red;
    font-weight:900;
    border-width: 0px;
}

.graph {
 text-align:center;
 width: 100%;
}

.graph label {
    min-width:80px;
    font-weight:600;
    
}