.AppleMusic {
    padding-bottom: 30px;

}
.AppleMusic header{
    padding-top:30px;
    font-size: larger;
    font-weight: 600;
}
.AppleMusic a {
    color: white;
    text-decoration: none;
  }

  