.Header {
    position: fixed;
    background-color: #000;
    font-size: calc(25px);
    font-weight: 100;
    color: #61dafb;
    padding-left: 96px;
    padding-top: 0px;
    left:0px;
    top:0px;
    z-index:999;    
    height:90px;
    line-height:90px;
    width:100%;
    vertical-align: middle;
}

.Header .counter{
    box-sizing: unset !important;
    margin-left:15px;
    height:10px;
    display: inline-block;

}

.Header span.counter{
    width:40px;

}

.Header input.counter{
    background-color:#273a3a ;
    border-style: none;
    color:#FFF;
    font-size: 15px;
    font-weight: 600;
}