.font {
  color: #d1d1d1;
}

.counterRow {
  display: inline-block !important;
}

.counter {
  padding-left: 10px;
  composes: font;
  composes: counterRow;

}

.link {
  composes: font;
  display: block;
  margin-bottom: 20px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.link:hover {
  color: #fff;
}

/* General sidebar styles */
.menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
