.App {
  text-align: left;
}

.App p {
  margin:0px;
  margin-top:10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header code {
  font-weight: 100;

}
  .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;
  justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 110px;
  padding-left:30px;
  padding-right:30px;
  font-weight: 100;

}

.App-header a {
  color: white;
  text-decoration: none;
}
.App-link {
  color: #61dafb;
  font-weight: 100;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
