.App {
  text-align: left;
}

.App p {
  margin: 0px;
  margin-top: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header code {
  font-weight: 100;

}

.App-content {
  background-color: #282c34;
  display: block;
  flex-direction: column;
  font-size: 15px;
  color: white;
  top: 90px;
  position: absolute;
  /*respect header*/
  padding-top: calc(env(safe-area-inset-top, 0) + 10px);
  padding-left: calc(env(safe-area-inset-left, 0) + 30px);

  padding-right: 30px;
  font-weight: 100;
  width: 100%;
  height: calc(100vh - 90px);
}



.App .spacer {
  padding-bottom: 20px;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#cssAnchor {
  padding-bottom: 40px;
}

#cssAnchor::before {
  --yyy: "Welcome";
  content: var(--yyy);
  font-weight: 900;
  letter-spacing: 15px;
  text-transform: uppercase;
}

input {
  line-height: 30px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  border-width: 0px;
  border-style: none;
  padding-left: 10px;
}